
<% if signed_in? %>
  <div class="container">
    <div class="span3">
      <ul class="nav nav-list sidebar">
        <li class="nav-header">Navigation</li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Profile', '#' %></li>
      <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
      </ul>
    </div>
    <div class="span8">
      <section>
        <%= render 'shared/task_form' %>
      </section>
      <div class="span8">
        <h3>To Do List</h3>
        <%= render 'shared/stats' %>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'logged_out' %>
<% end %>
